{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h2>{{ code.title }}</h2>

        <section class="card">
            {% for item in thesaurus  %}
                <a href="{{ path('thesaurus_element', {'id' : item.id }) }}">{{ item.title }}</a>
            {% endfor %}
        </section>
    </div>

{% endblock %}