{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Persons</h1>

        {% for item in persons  %}
            <a href="{{ path('person' , { 'personId'  : item.personId }) }}">
                <span class="chip">{{ item.name }}</span>
            </a>
        {% endfor %}

    </div>
{% endblock %}