<article class="col s12">
    <div class="color-cartouche">

        <h2>Validation finished for this section</h2>
        <br>
        <p>This data has already been validated two times. This part cannot be changed anymore but you can try the others sections of this number.</p>
        <br><br><br><br><br>
    </div>
</article>