{% extends "base.html.twig" %}

{% block body %}
    <h1>Stats</h1>

    <table>
        <tr>
            <th>Year</th>
            <th>Average number length</th>
            <th>Average shot length</th>
            <th>Average number length (dance)</th>
            <th>Average shot length (dance)</th>
        </tr>
    </table>

    <p>Une typologie : Les danced numbers = ceux qui ont soit song+ ou instru+ dans performance</p>
{% endblock %}