
<div class="row">

    <div class="col s6">
        <div class="cartouche mini-form ">

            {{form_row(stageNumber.title)}}
            {{ form_row(stageNumber.date) }}
            {{ form_row(stageNumber.lyricist) }}
            {{ form_row(stageNumber.composer) }}

        </div>
    </div>

</div>
