<div class="row">

    <div class="col s3" id="menu_admin">

        <ul class="collection">

            <li class="collection-item">
                <span data-display="title">Title</span>
            </li>
            <li class="collection-item">
                <span data-display="director">Director</span>
            </li>
            <li class="collection-item">
                <span data-display="outlines">Outlines</span>
            </li>
            <li class="collection-item">
                <span data-display="structure">Structure</span>
            </li>
            <li class="collection-item">
                <span data-display="shots">Shots</span>
            </li>
            <li class="collection-item">
                <span data-display="performers">Performers</span>
            </li>
            <li class="collection-item">
                <span data-display="backstage">Backstage</span>
            </li>
            <li class="collection-item">
                <span data-display="themes">Themes</span>
            </li>
            <li class="collection-item">
                <span data-display="tone">Tone</span>
            </li>
            <li class="collection-item">
                <span data-display="dance">Dance</span>
            </li>
            <li class="collection-item">
                <span data-display="music">Music</span>
            </li>
            <li class="collection-item">
                <span data-display="source">Source(s)</span>
            </li>
            <li class="collection-item">
                <span data-display="complement">Complement</span>
            </li>

        </ul>

    </div>

    <div class="col s9">
        <div class="main number-title">

            <h1 class="center">{% if number is defined %}{{number.title}} ({{ number.film }}){% else %}Add a new number{% endif %}</h1>

        </div>

        {% include 'CmsBundle:Number:tabs/_title.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_director.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_outlines.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_structure.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_shots.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_performers.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_backstage.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_themes.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_tone.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_dance.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_music.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_source.html.twig' %}
        {% include 'CmsBundle:Number:tabs/_complement.html.twig' %}

    </div>

</div>



