{% extends 'base.html.twig' %}

{% block body %}
    <section class="container" id="about">
        <h1>About</h1>

        <h2>Organigramme Base de données MC2</h2>

            <article class="card row">
                <div class="col">
                    <h3>Direction du projet Musical MC²</h3>
                    <p>Marguerite Chabrol et Pierre-Olivier Toulza</p>
                    <p><a href="http://musicalmc2.labex-arts-h2h.fr/fr">http://musicalmc2.labex-arts-h2h.fr/fr</a></p>
                </div>
            </article>

            <article class="card row">
                <div class="col">
                <h3>Conception de la plate-forme numérique</h3>
                <p>Marguerite Chabrol et Gaétan Darquié</p>

                <h3>Développement</h3>
                <p>Gaétan Darquié</p>

                </div>
            </article>


        <article class="card row">
            <div class="col">
            <h3>Comité scientifique international</h3>
               <p>Steven Cohan</p>
               <p>Todd Decker</p>
               <p>Adrienne McLean</p>
               <p>Karen McNally</p>
               <p>Doug Reside</p>
               <p>Allison Robbins</p>
               <p>Robynn Stilwell</p>
            </div>
        </article>

        <article class="card row">
            <div class="col">
                <h3>Comité éditorial</h3>
                <p>Fanny Beuré</p>
                <p>N. T. Binh</p>
                <p>Marion Carrot</p>
                <p>Marguerite Chabrol</p>
                <p>Gaétan Darquié</p>
                <p>Todd Decker</p>
                <p>Allison Robbins</p>
                <p>Robynn Stilwell</p>
                <p>Pierre-Olivier Toulza</p>
            </div>
        </article>

        <article class="card row">
            <div class="col">
                <h3>Rédaction</h3>
                <p>Fanny Beuré</p>
                <p>N. T. Binh</p>
                <p>Marion Carrot</p>
                <p>Marguerite Chabrol</p>
                <p>Todd Decker</p>
                <p>Isabelle Kalma</p>
                <p>Aurélie Ledoux</p>
                <p>Caroline Renouard</p>
                <p>Allison Robbins</p>
                <p>Pierre-Olivier Toulza</p>
                <p>Noah Teichner</p>
            </div>
        </article>

        <article class="card row">
            <div class="col">
                <h3>Contrats jeunes chercheurs associés au développement de l’outil</h3>

                <p>Gaétan Darquié IGR 6 mois en 2015, 5 mois en 2016 et post-doctorant en 2016/2017 (Université Paris 8)</p>
                <p>Marion Carrot IGE 3 mois en 2016 et 5 mois en 2017 (Université Paris 8)</p>
                <p>Isabelle Kalma IGE 4 mois en 2016 (CERILAC Université Paris Diderot)</p>

            </div>
        </article>

    </section>
{% endblock %}