{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <h1>How to ?</h1>

        <article>
            <h2>Create an account & connect</h2>
            <iframe src="https://player.vimeo.com/video/192663602" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="https://vimeo.com/192663602">Musical MC2 - Tutorial 1, Create an account</a></p>

            <h3>Connect as a visitor</h3>

            <p>You need to be a collaborator of the projet and have a special access which has been send to you by email.</p>

            <h3>Go to /register</h3>

            <p>Go to mc2.interlivre.fr/register and complete the information. It's done!</p>
        </article>

        <article>
            <h2>Add a number</h2>
            <p>Video 2 - Soon</p>
        </article>

        <article>
            <h2>Add a person</h2>
            <p>Video 3 - Soon</p>
        </article>
    </section>
{% endblock %}