{% extends 'base.html.twig' %}

{% block body %}

    <h1>How to</h1>

    <article>
        <h2>Create an account & connect</h2>
        <p>Video 1</p>
    </article>

    <article>
        <h2>Add a number</h2>
        <p>Video 2</p>
    </article>

    <article>
        <h2>Add a person</h2>
        <p>Video 3</p>
    </article>

{% endblock %}