{% extends "base.html.twig" %}

{% block body %}
    <section class="container">

        <div>
            <h3>Patch v0.2.12 | List of modifications - 1st december 2016</h3>
            <ul class="browser-default">
                <li>Dance : Minor corrections for Dance (/dance) page</li>
                <li>Dance : page for one sub-genre V1 finished with new donuts from NVD3.js</li>
                <li>Dance : controller and page item for mixing an item of the thesaurus with a subgenre</li>
                <li>Dance : page for one dancing type (still in progress)</li>
                <li>Dance : page for one dance content (still in progress)</li>
            </ul>
        </div>


        <div>
            <h3>Patch v0.2.11 | List of modifications - 30th november 2016</h3>
            <ul class="browser-default">
            <li>Generic page about dance styled and upgraded</li>
            <li>Page sub-genre (diagram, dancing type, content, ensemble, costumes, exoticism, numbers) upgraded</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.2.10 | List of modifications - 29th november 2016</h3>
            <ul class="browser-default">
            <li>Pages censorship upgraded and possibility to mix legion with dance</li>
            <li>Pages exoticism & dance first draft</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.2.9 | List of modifications - 24th november 2016</h3>
            <ul class="browser-default">
            <li>New structures for the data (no visible changes), preparation for V.0.3</li>
            <li>Studios added</li>
            <li>Data about censorships for films imported</li>
            </ul>
        </div>

        <div>
            <h3>Patch V0.2.8 | List of modifications - 22th november 2016</h3>
            <ul class="browser-default">
            <li>Results for "search a movie" are just under the input field (bug corrected)</li>
            <li>Graph "Number of films by year" : number of numbers added</li>
            <li>First Version of "How To" and "About" pages</li>
            </ul>
        </div>

    </section>
{% endblock %}