{% extends "base.html.twig" %}

{% block body %}
    <section class="container">
        <div>
            <h3>Patch v0.2.10 | List of modifications - 29th november 2016</h3>

            <li>Pages censorship upgraded and possibility to mix legion with dance</li>
            <li>Pages exoticism & dance first draft</li>

        </div>

        <div>
            <h3>Patch v0.2.9 | List of modifications - 24th november 2016</h3>

            <li>New structures for the data (no visible changes), preparation for V.0.3</li>
            <li>Studios added</li>
            <li>Data about censorships for films imported</li>

        </div>

        <div>
            <h3>Patch V0.2.8 | List of modifications - 22th november 2016</h3>

            <li>Results for "search a movie" are just under the input field (bug corrected)</li>
            <li>Graph "Number of films by year" : number of numbers added</li>
            <li>First Version of "How To" and "About" pages</li>
        </div>

    </section>
{% endblock %}