{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}


{% endblock %}


{% block body %}
	<div class="container">
		<h1>Evolution des scènes de genre</h1>
		<article>
			<h2>Liste des moods</h2>
			{% for mood in moods %}<p>{{mood.title}}</p>{% endfor %}
		</article>
		<article>
			<h2>Répartition des moods par films</h2>
			{% for mood in moodsByNumber %}<p>{{mood.title}}</p>{% endfor %}
		</article>
		
	</div>
{% endblock %}