{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <h1>Songs</h1>

        {% for item in songs  %}
            <a href="{{ path('song' , { 'songId'  : item.songId }) }}"><span class="chip">{{ item.title }}</span></a>
        {% endfor %}

    </div>
{% endblock %}