{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}

<style>
.items li{
  margin-bottom: 5px;
  background-color:white; 
  color : #CC0000;
  border:  1px solid #CC0000;
}
</style>

{% endblock %}


{% block body %}


<section class='container'>

<div class="row">
 <h1>{{film.title}}</h1>

 <h2>Liste des numbers</h2>

 <button>Ajouter un number</button>

</div>

</section>
  

<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>  

    <script src="{{ asset('bower_components/jquery/dist/jquery.js') }}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="../bower_components/Materialize/js/parallax.js"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../bower_components/nvd3/build/nv.d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.com/libraries/Chart.js"></script>
    <link rel="stylesheet" href="../bower_components/nvd3/build/nv.d3.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="{{ asset('js/mc2.js') }}"></script>


{% endblock %}