{% extends 'base.html.twig' %}




{% block body %}


<section class='container'>	
	<h1>My Editor Page</h1>

	<article class="cartoucheContent">
		<h2 class="center">Last Changed numbers</h2>
	</article>

	<article class="cartoucheContent">
		<h2 class="center">Last Changed movies</h2>
	</article>

  <p>En construction...</p>

</section>
  

{% endblock %}