{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Edit a Stage number</h1>

        {{ form_start(stagenumberForm)}}

        {{ include('editor/stagenumber/_form.html.twig')}}
        <button class="btn black" type="submit" formnovalidate >Edit Stage number</button>
        {{ form_end(stagenumberForm)}}


    </div>

{% endblock %}
