{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>List of all numbers</h1>

        {% for number in numbers %}
            {#<a href="{{ path("number_edit", {"numberId" : number.numberId }) }}">#}
                <span class="chip truncate">{{ number.title }}</span>
            {#</a>#}
        {% endfor %}
    </div>
{% endblock %}