{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>List of all numbers</h1>

        {% for number in numbers %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path("number_edit", {"id" : number.id }) }}">
            {%  endif %}
                <span class="chip truncate">{{ number.title }} ({{ number.film }} - {{ number.film.released }})</span>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            </a>
            {%  endif %}
        {% endfor %}
    </div>
{% endblock %}