{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- custom -->
    <link rel="stylesheet" href="{{ asset('css/editor/editor.css')}}">


{% endblock %}

{% block body %}

    <section class='container-fluid row main'>

        <div class="row">
            <div class="col s12">
                <ul class="tabs">

                    <li class="tab col s3 active"><a href="#myfilms">My numbers</a></li>
                    <li class="tab col s3 "><a href="#assist">Assist tool</a></li>
                    <li class="tab col s3 "><a href="#user">My account</a></li>
                </ul>
            </div>
        </div>

        {% include 'CmsBundle:Member:Tabs/_myfilms.html.twig' %}
        {% include 'CmsBundle:Member:Tabs/_assist.html.twig' %}
        {% include 'CmsBundle:Member:Tabs/_user.html.twig' %}

    </section>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>

        //-- list.js

        var maxPagination = 2;
        var minPagination = 1;
        var pages = 15;

        var options = {
            valueNames: [ 'title', 'film', 'timestamp', 'check' ],
            page: pages,
            pagination: [{
                innerWindow:maxPagination,
                outerWindow:minPagination,
            }],
        };

        var myNumbersList = new List('my-numbers-list', options);


        var optionsHelp = {
            valueNames: [ 'title', 'film', 'timestamp', 'check' ],
            page: pages,
            pagination: [{
                innerWindow:maxPagination,
                outerWindow:minPagination,
            }],
        };

        var myHelpList = new List('my-help-list', optionsHelp);

    </script>

    <!-- ne marche pas bien -->
    {#<script>#}


        {#function filtering(item){#}

            {#$('.number-item').fadeOut();#}
            {#if(item == 'all'){#}
                {#$('.number-item').fadeIn();#}
            {#}#}
            {#else{#}
                {#$('.number-'+item).fadeIn();#}
            {#}#}
        {#}#}

        {#$("*[data-filter]").click(function(){#}

            {#var item = $(this).data('filter');#}

            {#filtering(item);#}

            {#console.log(item);#}
        {#});#}
        {##}

    {#</script>#}

{% endblock %}