.small-h1{
    font-size: 0.8em;
}

.wordcloud{
    height: 500px;
}

#mood, #moods{
    height:220px;
}

#exoticism, #exoticisms{
    height:300px;
}

#source, #sources{
    height:250px;
}

#topics h2{
    margin-top : 5px;
}

#topics h3{
    margin-top : 2px;
}

#sub_nav{
    margin-top: 30px;
    padding: 7px;
    background: white!important;
    overflow: auto;
}

#sub_nav a{
    color : black!important;
}
#sub_nav .active{
    color : #CC0000!important;
}

.btn {
    background-color: #CC0000;
}

.btn:hover {
    background-color: #a21318;
}

.pagination{
    text-align: center;
}


.pagination .active  {
    background:#CC0000!important;
}


.medium-table tbody tr td {
    padding: 5px;
}


.no_info {
    height: 300px;
}

.link_perso {
    color: #039be5;
    cursor: pointer; cursor: hand;
}



