/* General */

body{
	/*background: url(../img/visuel3.jpg);*/
/*	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
*/
}

nav, footer{
	background:#CC0000 !important;
}

h1, h2, h3, h4, h5{
	color:#CC0000;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 2em;
}

h3{
	font-size:1.5em;
}

h4{
	font-size : 1em;
}


/* - Classes - */

.uppercase{
	text-transform : uppercase;
}

.cursor{
	cursor:pointer;
}

.number {
	font-size: 2.6em;
}

.fond{
	background: rgba(255,255,255,0.7);
	border-radius: 8px;
	padding: 10px;
	margin: auto;
}

.pointer{
	cursor: pointer;
}

.inline{
	display:inline-block;
}

.parallax-container {
	height: 350px;
	margin-bottom: 20px;
}

.medium{
	width: 750px;
}

.large{
	width:1024px;
}

/*.material-icons{*/
	/*font-size:90px;*/
/*}*/
/* Other */

div .cut {
	color:white;
	height:80px;
	background:#CC0000;
	padding : 10px;
	text-align: center;
}


.cartoucheContent, .cartouche{
	border:1px solid #CC0000;
	border-radius: 3px;
	padding : 10px;
	margin: 5 15px;
	margin-bottom: 10px;
}


#index-banner{
	height: 400px;
	font-size: 2em;
	text-transform: uppercase;
	padding-top: 60px;
}


.items li, .resultMovies{
  margin-bottom: 5px;
  background-color:white; 
  color : #CC0000;
  border:  1px solid #CC0000;
}

.resultMovies{
	margin :2px;
}



.number-label {
	font-size: 1.4em;
}

.card{
	height:auto;
	overflow : auto;
	padding : 10px;
}


.mini-form{
	font-size:0.8em;
	line-height: 0.8em;
}

.mini-table td, .mini-table th{
	font-size:0.8em;
	line-height: 1em;
	padding: 2px 5px;

}

.middle-table td, .middle-table th{
	font-size:0.9em;
	line-height: 1.2em;
	padding: 3px 5px;

}

#about .card{
	height:auto;
	overflow : auto;
}

#logo{
	height:60px;
	position:fixed;
	left:10px;
}


#results  a{
	display : block;
	margin-top : 5px;
	margin-bottom: 5px;
}

#results h3{
	text-align: center;
	margin-bottom: 2em;
}


#exoticism .intro{
	margin-top:1em;
	margin-bottom: 2em;
}

.float{
	float : right;
}