{% extends "base.html.twig" %}

{% block body %}
    <section class="container">

        <div>
            <h3>Patch v0.3.12| List of modifications - 10th April 2017</h3>
            <ul class="browser-default">
                <li>Stagenumbers</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3.11| List of modifications - 10th April 2017</h3>
            <ul class="browser-default">
                <li>Facets for my numbers in editor dashboard</li>
                <li>New Marion scenario version</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3.10| List of modifications - 3rd April 2017</h3>
            <ul class="browser-default">
                <li>Creation of Api Bundle and controllers moved</li>
                <li>Stage Show : search, show and edit</li>
                <li>In dashboard : bugs corrected for my numbers</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3.9 | List of modifications - 28th march 2017</h3>
            <ul class="browser-default">
                <li>Scenario dance renamed "Marion scneario", option for researching the numbers of a song with two filters (source and performance)</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3.8 | List of modifications - 28th march 2017</h3>
            <ul class="browser-default">
                <li>Search dance : prototype of search engine for scenario 1 (in search controller)</li>
                <li>Scenario 2 : first draft</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3.7 | List of modifications - 18th march 2017</h3>
            <ul class="browser-default">
                <li>Role Switch option added in security</li>
                <li>Table sorting option install and effective in "my numbers" home page and in admin dashboard</li>
                <li>Sort "my numbers" by default</li>
                <li>Add stage show / stage show controller, formType and views</li>
                <li>First draft of stage number for form</li>
                <li>New redirection to the movie after editing a number</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3.6 | List of modifications - 25th february 2017</h3>
            <ul class="browser-default">
                <li>Modification number forms (edit and create)</li>
                <li>Roles management : add expert role and organisation upgraded / quick menu upgraded</li>
                <li>New add/edit a movie form added</li>
                <li>Corrections stageshow and stagenumber entites</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3.5 | List of modifications - 19h january 2017</h3>
            <ul class="browser-default">
                <li>Minor text changes for forms and for integrations</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3.4 | List of modifications - 18h january 2017</h3>
            <ul class="browser-default">
                <li>Admin functionalities have been moved to Cms Bundle</li>
                <li>Page editor upgraded - dashboard first proposition : system for filtering the numbers and for sorting the films</li>
                <li>Fundations for assist page / first tests</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3.3 | List of modifications - 17th january 2017</h3>
            <ul class="browser-default">
                <li>Creation of a CMS Bundle</li>
                <li>Design - creation of a footer / move items (about, how to & news) from header nav to footer</li>
                <li>Correction of a bug with adding new film for admin</li>
                <li>Hierarchy and roles : new division between admin and editor : in top nav, functions for admin only when connected with the admin role</li>
                <li>First draft for new editor, assist (bugs) and admin pages</li>
            </ul>
        </div>


        <div>
            <h3>Patch v0.3.2 | List of modifications - 11th january 2017</h3>
            <ul class="browser-default">
                <li>New page "show a number" : in progress (complete, validation and check import)</li>
                <li>Creatio of page <a href="{{ path('editor') }}">/editor</a></li>
                <li>Change of the form Add/edit a number (complement) / integration hide</li>
            </ul>
        </div>


        <div>
            <h3>Patch v0.3.1 | List of modifications - 7th december 2016</h3>
            <ul class="browser-default">
                <li>Installation of <a href="https://github.com/beberlei/DoctrineExtensions/blob/master/config/mysql.yml">DoctrineExtensions</a></li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.3 | List of modifications - 7th december 2016</h3>
            <ul class="browser-default">
                <li>New homepage : new search options & links to censorship, exoticism, mood and dance</li>
                <li>Access restricted to themes pages</li>
                <li>Censorship pages : new version</li>
                <li>Dance pages: new version</li>
                <li>Stats : first draft of a new version</li>
            </ul>
        </div>

        <hr>

        <div>
            <h3>Patch v0.2.13 | List of modifications - 1st december 2016</h3>
            <ul class="browser-default">
                <li>Censorship : Minor corrections for censorship (/censorship) page (diagram for each type)</li>
                <li>Censorship : page for one verdict V1 finished with new donuts from NVD3.js</li>
                <li>Censorship : page for one legion upgraded (costumes, stereotypes and years + visualisations)</li>
                <li>Censorship : page for one legion for one year : list of films with a legion grade for one specific year</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.2.12 | List of modifications - 1st december 2016</h3>
            <ul class="browser-default">
                <li>Dance : Minor corrections for Dance (/dance) page</li>
                <li>Dance : page for one sub-genre V1 finished with new donuts from NVD3.js</li>
                <li>Dance : controller and page item for mixing an item of the thesaurus with a subgenre</li>
                <li>Dance : page for one dancing type (still in progress)</li>
                <li>Dance : page for one dance content (still in progress)</li>
            </ul>
        </div>


        <div>
            <h3>Patch v0.2.11 | List of modifications - 30th november 2016</h3>
            <ul class="browser-default">
            <li>Generic page about dance styled and upgraded</li>
            <li>Page sub-genre (diagram, dancing type, content, ensemble, costumes, exoticism, numbers) upgraded</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.2.10 | List of modifications - 29th november 2016</h3>
            <ul class="browser-default">
            <li>Pages censorship upgraded and possibility to mix legion with dance</li>
            <li>Pages exoticism & dance first draft</li>
            </ul>
        </div>

        <div>
            <h3>Patch v0.2.9 | List of modifications - 24th november 2016</h3>
            <ul class="browser-default">
            <li>New structures for the data (no visible changes), preparation for V.0.3</li>
            <li>Studios added</li>
            <li>Data about censorships for films imported</li>
            </ul>
        </div>

        <div>
            <h3>Patch V0.2.8 | List of modifications - 22th november 2016</h3>
            <ul class="browser-default">
            <li>Results for "search a movie" are just under the input field (bug corrected)</li>
            <li>Graph "Number of films by year" : number of numbers added</li>
            <li>First Version of "How To" and "About" pages</li>
            </ul>
        </div>

    </section>
{% endblock %}