<div class="col s12 row" id="user">
    <h2>My account</h2>

    <article>
        <h3>My stats</h3>

        <div class="card col s3">
            {{ myFilms|length }} films
        </div>

        <div class="card  col s3">
            {{ myNumbers|length }} numbers
        </div>


    </article>

    <article class="row col s12">
        <p><a href="{{ path('fos_user_change_password') }}">Change password</a></p>
    </article>


</div>