{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

<h1>{{number.title}}</h1>

	{{ form_start(numberForm)}}

{# 		{{form_widget(numberForm)}} #}

	<button type="submit">Edit Number</button>
	
	{{ form_end(numberForm)}}

</div>

{% endblock %}
