{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

<h1>{{number.title}}</h1>

	{{ form_start(numberForm)}}

	{{ include('editor/number/_form.html.twig')}}


	<button type="submit">Edit Number</button>
	
	{{ form_end(numberForm)}}

</div>

{% endblock %}
