{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

<h1>{{number.title}}</h1>

{{ form_start(numberForm)}}

{{ include('editor/number/_form.html.twig')}}

<button class="btn black" type="submit" novalidate>Save</button>
<button class="btn black" type="submit" novalidate>Save & Exit</button>

{{ form_end(numberForm)}}

</div>

{% endblock %}
