{% extends "base.html.twig" %}

{% block body %}

    <section class="container">
        <h1>List of numbers for 1 song and 2 filters</h1>

        <div class="card">
            {% for item in numbers  %}
                <span class="chip">{{ item.title }}</span>
            {% endfor %}
        </div>

    </section>
{% endblock %}