{% extends "base.html.twig" %}

{% block body %}

    <section class="container">
        <h1>List of numbers for 1 song and 2 filters</h1>

        <div class="card">
            {% for item in numbers  %}
                <span class="chip"><a href="{{ path('number', {'numberId' : item.numberId }) }}">{{ item.title }}</a></span>
            {% endfor %}
        </div>

        <div class="card">
            <h2>List of movies</h2>
            <div class="row">
            {% for item in films  %}
                <article class="col s3">
                    <h4 class="center">{{ item.title }}</h4>
                    <img class="poster col s12" src="http://img.omdbapi.com/?i={{ item.imdb }}&amp;apikey=1733f6a&amp;h=300" alt="poster">
                </article>
            {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}