{% extends "::base.html.twig" %}

{% block body %}

    <div class="container">
        <h2>Quizz</h2>

        <div class="row">

        <p>Les numbers avec des animaux et fred astaire</p>

        {% for item in payload['quizz']  %}
            <div class="card col s6">
            {{ item.title }}
            ({{ item.film }})
            </div>
        {% endfor %}

        </div>
    </div>

{% endblock %}