{% extends "base.html.twig" %}

{% block body %}

<section class="container">

    <h1 class="col s12">{{ thesaurus.title }}</h1>
    <article class="card row">
        <div class="col s12">
            <h2>List of movies with {{ thesaurus.title }}</h2>
            <p>In progress</p>
        </div>
    </article>

    <article class="card row">
        <div class="col s12">
            <h2>List of persons associated with {{ thesaurus.title }}</h2>
            <p>In progress</p>
        </div>
    </article>

</section>

{% endblock %}